.about-society-main-container{
    overflow-x: hidden;
}
.not-icon{
    background-color: #0225A2;
    padding: 0.8rem;
    border-radius: 100%;
}

.header{
    margin-top: -2rem;
}

.society-det-con{
    border: none;
}

.soc-icon{
    font-size: 1.5rem;
    color: #0225A2;
    display: inline-block;
}

.society-name-con{
    position: relative;
    /* display: flex; */
}
.society-name{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.icon{

    display: inline-block;
}

.icons{
    margin-top: -2rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.soc-icon-desc{
    font-size: 1.5rem;
    color: #0225A2;
    display: inline-block;
}

.details{
    font-size: 0.6rem;
}

.share-society-code-con{
    background-color: #0225A2;
    width:60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    border-radius:100%;
    position: absolute;
    right: 10px;
    top: 1px;
}

#code {
    pointer-events: none;
    border:none !important;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    height: 60px;
}

.share-icon{
    text-align: center;
    align-items: center;
    justify-content: center
}

.society-det-con{
    position: relative;
}

.lead{
    font-size: 0.9rem;
}

.media-icon{
    font-size: 2rem;
}

#code-btn{
    background-color: #0225A2;
    color: white;
    height: 40px;
    /* margin-top: -20px; */
}