/* body{
    background-image: url('../Images/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } */
  .forgot-main-container{
    height:100vh;
    width:100vw;
    background: #000957;
    background: linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -webkit-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -moz-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
  }
  .main-forgot-container{
    background-color: transparent;
    width: 60vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

  .bg-con{
    border-radius: 1rem;
  }

  .forgot-con-2{
    width: 100vw;
    height:100vh;
    background-color: #000;
  }
  
 .con-forgot{
    border-radius: 1rem;
    border: none;
    border-width: none;
    height: 60vh;
    width: 50vw;
  }
  
  .proj-name{
    text-transform: capitalize;
  }
  
  .pass-email{
    width: 90%;
    margin-left: 3rem;
  }
  
  .acc-icon-input {
    position: absolute;
    padding: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: grey;
  }
  
  #userEmailAccount {
    padding-left: 3rem;
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
  }
  
  .acc-update-btn {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 2rem;
    background-color: #0225A2;
    outline: none;
    border: none
  }
  
  .inputs{
    margin: auto;
  }
  
  .form{
    margin: auto;
  }
  
  .inputs-con{
    margin: auto;
    justify-content: center;
  }

  .icon{
      text-align: left;
      justify-content: flex-start;
      margin: 2rem;
  }
  
  .input-in{
    margin: auto;
    width: 80%;
  }

  .icon-back{
      font-size: 1.5rem;
      text-align: start;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      top: 1rem;
      left: 2rem;
  }
  
  .wel-txt{
    font-size: 1rem;
    margin-top: 2rem;
  }
  .instructions{
    font-size: 0.7rem;
    color: #333;
    text-align: center;
    margin-top: -0.5rem;
  }
  .hor-line{
    margin-left: 5rem;
    margin-right: 5rem;
    margin: auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }
    
  .login-acc{
    margin-top: 2rem;
  }

  /* media queries */
  @media screen and (min-width:1900px){
    .main-forgot-container{
      background-color: transparent;
      width: 60vw;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100vh;
    }
    .con-forgot{
      border-radius: 1rem;
      border: none;
      border-width: none;
      height: 50vh;
      width: 45vw;
    }
    .acc-update-btn{
      margin-top: 4rem;
    }
    .info-con-forgot{
      width: 40vw;
      margin: auto;
      padding-top: 1.5rem;
    }
    .instructions-forgot{
      padding-top: 0.3rem;
    }
    .inputs{
      padding-top:1.1rem;
      padding-bottom:0.5rem;
    }
  }