/* body{
    background-image: url('../Images/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
.login-main-container{
    background-image: url('../Images/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: #000957;
    background: linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -webkit-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -moz-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
}
.main-login-con{
    background-color: transparent;
    width: 65vw;
    height: 100vh;
}
.left-login-con{
    background-color: #fff;
    border-radius: 10px;
}
.bg-con{
    border-radius: 1rem;
    background-color: #ffffff;
}

.login-con{
    justify-content: 'center';
}

.con-login{
    background-color: transparent;
    border-radius: 1rem;
    border: none;
    border-width: none;
}

.proj-name{
    text-transform: capitalize;
}

.pass-email{
    width: 90%;
    margin-left: 3rem;
}

.acc-icon-input {
    position: absolute;
    padding: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: grey;
}

#userEmailAccount {
    padding-left: 3rem;
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
}

.acc-update-btn {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 2rem;
    background-color: #0225A2;
    outline: none;
    border: none
}

.inputs{
    margin: auto;
}

.form{
    margin: auto;
}

.inputs-con{
    margin: auto;
    justify-content: center;
}

.input-in{
    margin: auto;
}

.wel-txt{
    font-size: 1rem;
    margin-top: 2rem;
}
.instructions{
    font-size: 0.7rem;
    color: #333;
    text-align: center;
    margin-top: -0.5rem;
}

.auth-img{
    width: 90%;
    object-fit: fill;
}

.login-acc{
    margin-top: 2rem;
}

@media screen and (min-width:1900px){
    .main-login-con{
        background-color: transparent;
        width: 55vw;
        height: 100vh;
    }
}