
.cont-event{
    width: fit-content;
    /* background:pink; */
}

.events-container{
    padding: 5%;
    width: 60vw!important;
    overflow-x: auto;
    /* background-color:red; */
}

.member-con{
    /* background-color:blue; */
    min-width: max-content;
}

::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-track{
    background: #eee;
}

::-webkit-scrollbar-thumb{
    background: #fff;
}

/* media */
@media screen and (min-width:1900px){
    .events-container{
        /* background-color: red; */
        width: 55vw!important;
    }
}