body{
  background-image: none;
  background-color: white;
}

.info-con{
  width: 100%;
  height: 900px;
  overflow-y: auto;
  background-color: green;
}

.main-con-nav{
  height:680px;
  /* background-color: green; */
}
.info-container{
  height: 670px;
}
.navigation-styled{
  width: 20rem;
  height: 200px;
}