
.main-container-register{
    background: #000957;
    background: linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -webkit-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
    background: -moz-linear-gradient(160deg,#000957 0%, #2fa4ff 40%, #0e3eda 80%);
}
.main-register-con{
  background-color: transparent;
  width: 60vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.card-register{
  width: 40vw;
  height: 70vh;
  border-radius:15px;
}

/* media queries */
@media screen and (min-width:1900px){
  .main-register-con{
    background-color: transparent;
    width: 55vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  .card-register{
    height: 60vh;
  }
}